# tools
.vscode/
.idea/
.pi/

# dependencies
node_modules/

# Turborepo
.turbo/

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# ── apps/mobile ──────────────────────────────────
# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
apps/mobile/expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
apps/mobile/android/
apps/mobile/ios/
apps/mobile/.tamagui/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Mobile env
apps/mobile/.env

# ── apps/backend ─────────────────────────────────
apps/backend/.env
apps/backend/build/
